/* Header.css */

header {
    background-color: #e0e0e0; /* Dark background color */
    padding: 5px 0; /* Add padding to the header */
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 120px; /* Add spacing between list items */
    vertical-align: middle;
}

nav ul li img {
    margin-right: 10px; /* Add spacing between image and text */
    height: 50px;
    width: auto; /* Maintain aspect ratio */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last list item */
}

nav ul li a {
    color: #343a40; /* Text color */
    font-size: 24px; /* Font size */
    font-family: 'Simplifica', sans-serif; /* Use Simplifica font */
    text-decoration: none; /* Remove underline from links */
}

  