/* Font Styles */
.headingStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #191516; /* Dark red */
}

.subheadingStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3cab70; /* Light green */
}

.paragraphStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #191516; /* Dark brown */
}

.listStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #191516; /* Dark brown */
    text-align: left;
    line-height: 1.5;
}

/* Wrapper for the entire page */
.pageWrapper {
    position: relative;
    overflow: hidden; /* Hide overflow from gradient background */
}

/* Container for the entire page */
.containerStyle {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    position: relative; /* Add relative positioning */
    z-index: 1; /* Ensure content is above gradient background */
}

/* Container for side-by-side sections */
.sideBySideContainer {
    display: flex; /* Use flexbox layout */
    gap: 50px; /* Add space between sections */
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.bigContainer {
    border: solid;
    border-color: black;
    border-radius: 400px;
    margin: 20px auto;
    width: auto;
}

/* Background Formatting for each section */
.section {
    border-radius: 50px; 
    overflow: hidden; 
    background-color: aliceblue;
    padding: 20px;
    margin: 20px auto;
    width: auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.titleSection {
    border-radius: 50px; 
    overflow: hidden; 
    background-color: aliceblue;
    width: auto;
    margin: 0 auto;
    margin-bottom: -20px;
    max-width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.extraSpace {
    margin-bottom: 40px; /* Add extra margin at the bottom */
}

/* Gradient background behind the entire page */
.gradientBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #044B7F, #610345); /* Gradient background */
    opacity: 0.4; /* Adjust opacity as needed */
}

.imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(C:\Code\ec464-website\src\images\ForestBack.webp);
    background-size: cover;
}
